.div{
    display: flex;
    width: 90vw;
    margin: 5rem 0;
    max-width: 450px;
    background: white;
    border-radius: 0.25rem;
    padding: 1.5rem 2rem;
    box-shadow: var(--dark-shadow);
    
}
img {
    width: 50px;
}